<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}

</head>
<body>
  {{>navbar}}

   <!--main Header-->
   <div class="main_header">
     <div class="row">
       <div class="col-md-10 col-12 mx-auto">
         <div class="row">
           <!--Left Side Div-->
           <div class="col-md-6 col-12 main_header_right align-items-center">
            <figure>
                <img src="images/about.png" alt="Sanjeet Kumar" class="img-fluid" title="Sanjeet Kumar">
            </figure>
           
           </div>
           <!--Right Side div-->
           <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to Weather app</p>
            <h1>I Am A <span> Mern Stack </span> Developer</h1>
            <a href="/about"><button>About me</button></a>
           </div>
         </div>
       </div>
     </div>
   </div>
   <!--Footer-->
   {{>footer}}
</body>
</html>