<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="container-fluid  main_content">

                    <form class="temp_form ">

                        <input type="text" id="cityName" placeholder="Enter you city name.." autocomplete="off">
                        <br>
                        <input type="submit" value="search" id="submitBtn">
                        <p id="temp_err"></p>
                    </form>

                    <div class="tempInformation  ">
                        <div class="top_layer">
                            <p id="day">Tuesday</p>
                            <p id="today_date">13 oct</p>
                        </div>
                        <div class="main_layer ">
                            <p id="city_name">Get output here </p>
                            <div class="middle_layer data_hide">
                                <p><span id="temp">0</span><sup>o</sup>C</p>
                                <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p><br>
                            </div>
            
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- footer -->

    <div class="w_footer">
        <p>
            created with â¤ Sanjeet Kumar
        </p>
    </div> 

<script src="js/main.js"></script>
<script>
    /* for day */
    const getCurrentDay=()=>{ 
    let weekday=new Array(7);
    weekday[0]="Sunday";
    weekday[1]="Monday";
    weekday[2]="Tuesday";
    weekday[3]="Wednesday";
    weekday[4]="Thursday";
    weekday[5]="Friday";
    weekday[6]="Saturday";
    let currentDay=new Date();
    days= weekday[currentDay.getDay()] ;
    let day=document.getElementById('day');
    day.innerHTML=days;
    };
    /* For date */
    const getcurrTime=()=>{
    var now=new Date();
    var months=[
        "jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "May",
        "June",
        "July",
        "Aug",
        "Sept",
        "Oct",
        "Nov",
        "Dec"
    ];

    var month=months[now.getMonth()+1];
    console.log(month);
    var day=now.getDate();
    var year=now.getFullYear();
        let showdate=document.getElementById('today_date');
    showdate.innerHTML=
    console.log(month+"/"+day+"/"+year);
        
    let Hour=now.getHours();
    let Min=now.getMinutes();

    let periods="AM";
    if(Hour>11)
    {
        periods="PM";
        if(Hour>12)
        Hour-=12;
    }
    if(Min<10){
        Min="0"+Min;
    }
  showdate.innerHTML= ` ${day} ${month} | ${Hour}:${Min} ${periods}`
}
getCurrentDay();
getcurrTime();
</script>
</body>

</html>